<!DOCTYPE html>
{% include "header.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<style type="text/css">
   body { background: #f4f9f9 !important; }
</style>

<div class="jumbotron" >
    <div class="row text-center">

    <h1>Calculate Portion Cost</h1>
    </div>
</div>

<div class="container">
    <div class="container">

      <div class="col-lg-8 col-md-10 mx-auto content">
         {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
           <p class="text-danger">{{ message }}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}

        {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}

          </div>
    </div>
  </div>

<br>

<div class="row" >

<img src="{{ url_for('static', filename='img/spread.jpg')}}" class="mx-auto d-block" alt="Responsive image" style="width: 100%; height: 100%;">

</div>


{% include "footer.html" %}


{% endblock %}